<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>設備交換</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./pic/commom/browser.ico">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="equipment">
    <!-- header開始-->
    <header >
    <div class="forphone">
    <button class="hamburger hamburger--spring" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    </div>
    <nav class="wrap">
        <div class="nav_logo">
            <a href="#" class="logo_link -bottom">
                <img class="desk sun" src="./pic/commom/sun.svg" alt="">
            </a>
            <a class="changelogo" href="./shansen.html">
            <img class="phone" src="./pic/commom/phone_header.svg">
            </a>
            <div class="middle_bg"></div>
            <a href="./shansen.html" class="logo_link -up">
                <img class="desk" src="./pic/commom/pc_header.svg">
            </a>
        </div>
        <div class="nav_list">
            <ul >
                <li><a class="nav_title @@underline_01" href="./group.html">揪團露營</a></li>
                <li><a class="nav_title orange2" href="./equipment.html">設備交換</a></li>
                <li><a class="nav_title @@underline_03" href="./camping.html">營區攻略</a></li>
                <li><a class="nav_title @@underline_04" href="./letter.html">來去寫信</a></li>
                <li><a class="nav_title @@underline_05" href="./aboutus.html">關於我們</a></li>
                <li><a href="./member.html" id="header_memName">&nbsp;</a><a class="nav_title @@underline_06" href="#" id="spanLogin">登入|註冊</a></li>
            </ul>
        </div>
    </nav>
</header>
    <!-- 燈箱開始 -->
    <div id="outerDiv">
    <div id="lightBox">
        <input type="checkbox" id="login_img_control" name="login">
        <div class="login_container">
            <div id="logiMember">
                <table border="1" align="center" cellspacing="0" id="tableLogin" class="login_block_left">
                    <tr><td colspan="2" align="center"><a href="#" class="logo_link_logo">
                        <img class="login_logo"  style="width: 75px;padding: 20px 5px 10px 0px;" src="./pic/commom/1017_logo.png" alt="">
                    </a></td></tr>
                    <tr><td colspan="2" align="center" class="sub_title">會員登入</td></tr>
                    <tr><td>帳號：</td><td><input class="inputstyle" type="text" name="memId" id="LoginMemId" placeholder="請輸入您的Email"></td></tr>
                    <tr><td>密碼：</td><td><input class="inputstyle" type="password" name="memPsw" id="LoginMemPsw" placeholder="請輸入密碼(6-20英數字)"></td></tr>
                    <tr><td colspan="2" align="center">
                        <input type="button" id="btnLogin" value="登入" class="thirdbtn1_green">  
                        <input type="button" id="btnLoginCancel" value="取消" class="thirdbtn2_green">  
                    </td></tr>
                    <tr><td colspan="2" align="center" class="level1">
                        <p id="forgetPsw">忘記密碼?</p>
                        <label for="login_img_control">
                            <span id="to_register_btn">還沒申請帳號?</span>
                        </label>
                    </td></tr>
                </table>
            </div>
            <form id="reiMember">
                <table align="center" cellspacing="0" id="register" class="login_block_right">
                    <tr><td colspan="2" align="center"><a href="#" class="logo_link_logo">
                        <img class="login_logo"  style="width: 75px;padding: 20px 5px 10px 0px;" src="./pic/commom/1017_logo.png" alt="">
                    </a></td></tr>
                    <tr><td colspan="2" align="center" class="sub_title">註冊會員</td></tr>
                    <tr><td>會員帳號：</td><td><input class="inputstyle" type="text" name="memId" id="RegiMemId" placeholder="請輸入您的Email"></td></tr>
                    <tr><td>會員密碼：</td><td><input class="inputstyle" type="password" name="memPsw" id="RegiMemPsw" placeholder="請輸入密碼(6-20英數字)"></td></tr>
                    <tr><td>確認密碼：</td><td><input class="inputstyle" type="password" name="memPsw_check" id="RegiDCMemPsw" placeholder="請再次輸入密碼"></td></tr>
                    <tr><td>會員姓名：</td><td><input class="inputstyle" type="text" name="memName" id="RegiMemName" placeholder="請輸入您的姓名"></td></tr>
                    <tr><td>會員暱稱：</td><td><input class="inputstyle" type="text" name="memNice" id="RegiMemNickname" placeholder="請輸入您的暱稱"></td></tr>
                    <tr><td colspan="2" align="center">
                        <input type="button" id="btnRegi" value="註冊" class="thirdbtn1_green">  
                        <input type="button" id="btnRegiCancel" value="取消" class="thirdbtn2_green">  
                    </td></tr>
                    <tr><td colspan="2" align="center" class="level1">
                        <label for="login_img_control">
                            <span id="to_login_btn">已有會員帳號?</span>
                        </label>
                    </td></tr>
                </table>
            </form>
            <div class="login_block_mid">
                <img src="./pic/commom/mid_pic.svg" alt="登入頁照片">
            </div>
        </div>
    </div>
</div>
    <!-- 燈箱結束 -->
        <div class="bgcColor bg_dis">
        <section class="section1 bgcColor">
            <div class="wrap">
                <div class="title">
                    設備交換
                </div>

                <div class="breadcrumbs">
                    <ul>
                        <li><a href="./shansen.html"  class="level0 green1">首頁</a></li>        
                        <li class="level0 gray1">設備交換</li>
                    </ul>    
                </div>

                <!-- 篩選 -->
                <!-- <equselect class="equ_select"></equselect> -->

                <div class="equ_container">
                    <div class="equbar">
                        <div class="nav">
                            <div class="title_btn_block">
                                <div class="equipment_select_title">
                                    <h2 class="level7 green1">搜尋設備</h2>
                                </div>
                                <div class="post_btn">
                                    <a href="./equipment_post.html">
                                        <button class="secondbtn1">我要刊登商品</button>
                                    </a>
                                </div>
                            </div>
                            <!-- <hr> -->

                            <!-- 左邊側邊攔 -->
                            <equlista class="equlist_block"></equlista>
                            
                        </div>    
                    </div>
                    
                    <!-- 右邊全部設備 -->
                    <div class="equmain_all" id="equallprod">
                        <equamainall></equamainall>
                    </div>
                    
                        
                </div>   
                
                <div class="equsPage">
                    <ul class="level0 green3 page">
                        <li>&lt;</li>
                        <li class="thisPage">1</li>
                        <li><a href="./group2.html" class="level0 green3">2</a></li>
                        <li><a href="./group2.html" class="level0 green3">3</a></li>
                        <li><a href="./group2.html" class="level0 green3">4</a></li>
                        <li><a href="./group2.html" class="level0 green3">5</a></li>
                        <li><a href="./group2.html" class="level0 green3">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </section>
        
        </div>  

    <!-- footer 開始-->
    <footer>
    <div class="footer_bgc">
        <div class="wrap">
            <div class="footerarrange">
                <div class="footright">
                    <div class="level2 green1">聯絡資訊 |</div>
                    <div class="level0 green1">
                        電子信箱|ShanSen@gmail.com<br>
                        營業時間|週二至週日 10:00~20:00(國定假日休假)
                    </div>
                </div>
                <div class="footercenter">
                    <a href="./shansen.html">
                        <img src="./pic/commom/pc_header.svg">
                    </a>
                </div>
                <div class="footerright">
                    <div class="link">
                        <div class="level2 green1">相關連結 |</div>
                        <div class="footer_icon">
                            <img src="./pic/commom/foot_line.svg" alt="">
                            <img src="./pic/commom/foot_ig.svg" alt="">
                            <img src="./pic/commom/foot_fb.svg" alt="">
                            <img src="./pic/commom/foot_email.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">Copyright &copy; 2020ShanSen</div>
</footer>
    <!-- footer 結束-->
    </div>
    <script src="./js/logintext.js"></script>
    <script>
        Vue.component('equlista',{
            data(){
                return{
                    tents:['家庭帳','客廳帳','炊事帳'],
                    sbags: ['睡袋'],       
                    others: ['桌椅','炊具','小物'],
                };
            },
            created(){
                axios.get('php/equipment/equipment.php')
                        .then(res => {this.allRows = res.data;})
                        .catch(error => console.log(error))
                        .then(data => console.log(this.allRows));
                // $.ajax({
                //     url:'php/equipment/equipment.php',
                //     dataType:'json',
                //     data:{
                //         tent:3,
                //     },
                //     complete(){
                //     }
                // });
            },
            template:`
            <div>
                <div class="equlist">
                    <h3><a class="level2 green1" href="">所有商品</a></h3>
                </div>        
                <form class="equlist" action="./php/equipment/equipment.php" method="GET">                   
                    <h3><a class="level2 green1" href="">露營帳篷</a></h3>
                    <div v-for="tent in tents"><a class="level2 gray1 minsorts" name="tent" value=2 href="" @click="">{{tent}}</a></div>    
                </form>
                <hr>        
                <form class="equlist" action="./php/equipment/equipment.php" method="GET">                   
                    <h3><a class="level2 green1" href="">睡袋</a></h3>
                    <div v-for="sbag in sbags"><a class="level2 gray1 minsorts" href="">{{sbag}}</a></div>    
                </form>  
                <hr>      
                <form class="equlist" action="./php/equipment/equipment.php" method="GET">                   
                    <h3><a class="level2 green1" href="">其他</a></h3>
                    <div v-for="other in others"><a class="level2 gray1 minsorts" href="">{{other}}</a></div>    
                </form>
            </div>
            `,
        });

        Vue.component('equamainall',{
            data(){
                return{
                    allRows: [],
                    image:'pic/equipment/tent/f_tent01.jpg'
                    // image:
                };
            },
            created(){
                axios.get('php/equipment/equipment.php')
                        .then(res => {this.allRows = res.data;})
                        .catch(error => console.log(error))
                        // .then(data => console.log(this.allRows[2].EQU_PIC1));

                // $.ajax({
                //     url:'php/equipment/equipment.php',
                //     type:'GET',
                //     dataType:'json',
                //     data:{
                //         tent:tent,
                //     },
                //     complete(data){
                //         this.allRows = data.responseJSON;
                //         console.log(data.responseJSON)
                //     }
                // });
            },
            template:`
            <div  class="equtemp">
                <div class="equ_card1" v-for="(card,index) in allRows" :key="index">
                    <a href="./equipment_product.html">
                        <div class="equ_img1">
                            <img :src=image alt="">
                        </div>            
                    </a>
                    <div class="equ_text">
                        <a href="./equipment_product.html">
                            <div class="bold level5 green1 equ_all_title">{{card.EQU_NAME}}</div>
                        </a>
                        <span class="level1 gray1">刊登者：</span>
                        <a class="bold level1 gray1 poster_text" href="">{{card.MEM_NICKNAME}}</a>
                    </div>
                </div>
            </div>
            `,
        });

        // Vue.component('equselect',{
        //     data(){
        //         return{
        //             selectitem:[],
        //             Stents:['家庭帳','小型帳','更衣帳','炊事帳'],
        //             Sbags:['成人睡袋','兒童睡袋','雙人睡袋'],
        //             Sothers:['桌椅','炊具','小物'],
        //         }
        //     },
        //     methods:{
        //         equsort01(){
        //             // alert() ;

        //         }
        //     },
        //     created(){
        //         axios.get('php/equipment/equipment.php')
        //                 .then(res => {this.allRows = res.data;})
        //                 .catch(error => console.log(error));
        //     },        
        //     template:`
        //     <div>
        //         <div class="select01">
        //             <label class="bold level5 gray1 select_text1" for="sel_text">我想交換的</label>
        //             <select class="equ_select_bar selectstyle" id="equ_sort1" @change="equsort01">
        //                 <optgroup label="帳篷">
        //                     <option value="" disabled selected hidden>請選擇類別</option>
        //                     <option v-for="Stent in Stents" >{{Stent}}</option>
        //                 </optgroup>                        
        //                 <optgroup label="睡袋">
        //                     <option v-for="Sbag in Sbags">{{Sbag}}</option>
        //                 </optgroup>                        
        //                 <optgroup label="其他">
        //                     <option v-for="Sother in Sothers">{{Sother}}</option>
        //                 </optgroup>                        
        //             </select>
        //         </div>


        //         <div class="select02">
        //             <label class="bold level5 gray1 select_text2" for="sel_text">其他人想交換的</label>
        //             <select class="equ_select_bar selectstyle" id="equ_sort2" @change="equsort02">
        //                 <optgroup label="帳篷">
        //                     <option value="" disabled selected hidden>請選擇類別</option>
        //                     <option v-for="Stent in Stents">{{Stent}}</option>
        //                 </optgroup>
        //                 <optgroup label="睡袋">
        //                     <option v-for="Sbag in Sbags">{{Sbag}}</option>
        //                 </optgroup>
        //                 <optgroup label="其他">
        //                     <option v-for="Sother in Sothers">{{Sother}}</option>
        //                 </optgroup>
        //             </select>
        //         </div>
        //     </div>
        //     `,
        // })



        let vm = new Vue({
            el: '#equipment',
            data: {  
            },
            methods: {
                
            },
            computed: {
            },
        });
    </script>
    <script>
        // hamburger icon 的切換
        $(function(){
            
            $("button.hamburger").on("click", function(){
                $(this).toggleClass("is-active");
                $('.nav_list').slideToggle();

                });
        });


            // let equipmentRows;
            // window.addEventListener("load", function(){
            
            //     function showEquipment(){
            //         let html = "";
            //         for(let i=0; i< equipmentRows.length; i++){
            //             html += ``;
            //         }
            //         html += "";
            //         document.getElementById("equallprod").innerHTML = html;
            //     }
            
            //     let xhr = new XMLHttpRequest();
            //     xhr.onload = function(){
            //         equipmentRows = JSON.parse(xhr.responseText);
            //         showEquipment();
            //         console.log(equipmentRows);
            //     }
            //     xhr.open("get", "php/equipment/equipment.php",true);
            //     xhr.send(null);

            
            //     document.getElementById("equ_sort1").onchange = function(e){
            //         let xhr = new XMLHttpRequest();
            //         xhr.onload = function(){
            //             equipmentRows = JSON.parse(xhr.responseText);
            //             showEquipment();
            //             console.log(equipmentRows);
            //         }
            //         xhr.open("get", `php/equipment/equipment.php?equ_sort1=${e.target.value}`,false);
            //         xhr.send(null);
            //     }
            // }, false);


    </script>


</body>
</html>