<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>設備交換</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js'></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./pic/commom/browser.ico">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="equipment">
        <header >
            <div class="forphone">
            <button class="hamburger hamburger--spring" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            </div>
            <nav class="wrap">
                <div class="nav_logo">
                    <a href="#" class="logo_link -bottom">
                        <img class="desk sun" src="./pic/commom/sun.svg" alt="">
                    </a>
                    <a class="changelogo" href="./shansen.html">
                    <img class="phone" src="./pic/commom/phone_header.svg">
                    </a>
                    <div class="middle_bg"></div>
                    <a href="./shansen.html" class="logo_link -up">
                        <img class="desk" src="./pic/commom/pc_header.svg">
                    </a>
                </div>
                <div class="nav_list">
                    <ul >
                        <li><a class="nav_title" href="./group.html">揪團露營</a></li>
                        <li><a class="nav_title orange2" href="./equipment.html">設備交換</a></li>
                        <li><a class="nav_title" href="./camping.html">營區攻略</a></li>
                        <li><a class="nav_title" href="./letter.html">來去寫信</a></li>
                        <li><a class="nav_title" href="./aboutus.html">關於我們</a></li>
                        <li><a href="./member.html" id="header_memName">&nbsp;</a><a class="nav_title" href="#" id="spanLogin">登入|註冊</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- 燈箱開始 -->
        <div id="outerDiv">
            <div id="lightBox">
                <input type="checkbox" id="login_img_control" name="login">
                <div class="login_container">
                    <div id="logiMember">
                        <table border="1" align="center" cellspacing="0" id="tableLogin" class="login_block_left">
                            <tr><td colspan="2" align="center"><a href="#" class="logo_link_logo">
                                <img class="login_logo"  style="width: 75px;padding: 20px 5px 10px 0px;" src="./pic/commom/1017_logo.png" alt="">
                            </a></td></tr>
                            <tr><td colspan="2" align="center" class="sub_title">會員登入</td></tr>
                            <tr><td>帳號：</td><td><input class="inputstyle" type="text" name="memId" id="LoginMemId" placeholder="請輸入您的Email"></td></tr>
                            <tr><td>密碼：</td><td><input class="inputstyle" type="password" name="memPsw" id="LoginMemPsw" placeholder="請輸入密碼(6-20英數字)"></td></tr>
                            <tr><td colspan="2" align="center">
                                <input type="button" id="btnLogin" value="登入" class="thirdbtn1_green">  
                                <input type="button" id="btnLoginCancel" value="取消" class="thirdbtn2_green">  
                            </td></tr>
                            <tr><td colspan="2" align="center" class="level1">
                                <p id="forgetPsw">忘記密碼?</p>
                                <label for="login_img_control">
                                    <span id="to_register_btn">還沒申請帳號?</span>
                                </label>
                            </td></tr>
                        </table>
                    </div>
                    <form id="reiMember">
                        <table align="center" cellspacing="0" id="register" class="login_block_right">
                            <tr><td colspan="2" align="center"><a href="#" class="logo_link_logo">
                                <img class="login_logo"  style="width: 75px;padding: 20px 5px 10px 0px;" src="./pic/commom/1017_logo.png" alt="">
                            </a></td></tr>
                            <tr><td colspan="2" align="center" class="sub_title">註冊會員</td></tr>
                            <tr><td>會員帳號：</td><td><input class="inputstyle" type="text" name="memId" id="RegiMemId" placeholder="請輸入您的Email"></td></tr>
                            <tr><td>會員密碼：</td><td><input class="inputstyle" type="password" name="memPsw" id="RegiMemPsw" placeholder="請輸入密碼(6-20英數字)"></td></tr>
                            <tr><td>確認密碼：</td><td><input class="inputstyle" type="password" name="memPsw_check" id="RegiDCMemPsw" placeholder="請再次輸入密碼"></td></tr>
                            <tr><td>會員姓名：</td><td><input class="inputstyle" type="text" name="memName" id="RegiMemName" placeholder="請輸入您的姓名"></td></tr>
                            <tr><td>會員暱稱：</td><td><input class="inputstyle" type="text" name="memNice" id="RegiMemNickname" placeholder="請輸入您的暱稱"></td></tr>
                            <tr><td colspan="2" align="center">
                                <input type="button" id="btnRegi" value="註冊" class="thirdbtn1_green">  
                                <input type="button" id="btnRegiCancel" value="取消" class="thirdbtn2_green">  
                            </td></tr>
                            <tr><td colspan="2" align="center" class="level1">
                                <label for="login_img_control">
                                    <span id="to_login_btn">已有會員帳號?</span>
                                </label>
                            </td></tr>
                        </table>
                    </form>
                    <div class="login_block_mid">
                        <img src="./pic/commom/mid_pic.svg" alt="登入頁照片">
                    </div>
                </div>
            </div>
        </div>
        <!-- 燈箱結束 -->
        <div class="bgcColor bg_dis">
        <section class="section1 bgcColor">
            <div class="wrap">
                <div class="title">
                    設備交換
                </div>

                <div class="breadcrumbs">
                    <ul>
                        <li><a href="./shansen.html"  class="level0 green1">首頁</a></li>        
                        <li><a href="./equipment.html" class="level0 green1">設備交換</a></li>
                        <li><a href="./equipment.html" class="level0 green1">露營帳篷</a></li>
                        <li class="level0 gray1">Outdoorbase 家庭露營帳</li>
                    </ul>    
                </div>
                <div class="equ_container">
                    <div class="equbar">
                        <div class="nav">
                            <div class="title_btn_block">
                                <div class="equipment_select_title">
                                <h2 class="level7 green1">搜尋設備</h2>
                                </div>
                                <div class="post_btn">
                                    <a href="./equipment_post.html">
                                    <button class="secondbtn1">我要刊登商品</button>
                                    </a>
                                </div>
                            </div>
                
                            <!-- <hr> -->
                            <div class="equlist_block">
                                <div class="equlist">
                                    <!-- <img src="pic/equipment/icon01.png" alt="">                    -->
                                    <h3>
                                    <a class="level2 green1" href="">所有商品</a></h3>
                                </div>        
                                <div class="equlist">                   
                                    <h3>
                                    <a  class="level2 green1" href="">露營帳篷</a></h3>
                                    <div v-for="tent in tents"><a class="level2 gray1 minsorts" href="">{{tent}}</a></div>    
                                </div>
                                <hr>        
                                <div class="equlist">                   
                                    <h3>
                                    <a class="level2 green1" href="">睡袋</a></h3>
                                    <div v-for="sbag in sbags"><a class="level2 gray1 minsorts" href="">{{sbag}}</a></div>    
                                </div>  
                                <hr>      
                                <div class="equlist">                   
                                    <h3>
                                    <a class="level2 green1" href="">其他</a></h3>
                                    <div v-for="other in others"><a class="level2 gray1 minsorts" href="">{{other}}</a></div>    
                                </div>
                            </div>
                            
                        </div>    
                    </div>

                    
                        <div class="equmain">
                            <div class="equpic">
                                <div class="bigimg">
                                    <img class="noweqimg" src="pic/equipment/f_tent06.jpg" alt="">
                                </div>
                                <div class="minimg">
                                    <img class="eqimg now" src="pic/equipment/f_tent06.jpg" alt="">
                                    <img class="eqimg" src="pic/equipment/f_tent03.png" alt="">
                                    <img class="eqimg" src="pic/equipment/f_tent08.jpg" alt="">
                                </div>

                                <!-- 檢舉燈箱 -->
                                <div class="report_overlay">
                                    <article>                                        
                                        <form class="report_form" action="">
                                            <div class="level7 bold green1 report_title">檢舉原因</div>
                                            
                                            <div class="report_reason1 level1 gray1">
                                                <input type="radio" name="reason0" id="report_equ1">
                                                <label for="report_equ1">此設備與本網站不相關</label>
                                            </div>
                                            <div class="report_reason2 level1 gray1">
                                                <input type="radio" name="reason0" id="report_equ2">
                                                <label for="report_equ2">此設備為危險物品</label>
                                            </div>
                                            <div class="report_reason3 level1 gray1">
                                                <input type="radio" name="reason0" id="report_equ3">
                                                <label for="report_equ3">此設備為不雅物品</label>
                                            </div>                                            

                                            <div class="report_close_btn">
                                                <input class="thirdbtn1_green submit_btn" type="submit" name="SB" value="送出">
                                                <button type="button" class="thirdbtn2_green btn_modal_close">取消</button>
                                            </div>                                        
                                        </form>                                        
                                    </article>
                                </div>  
                                
                                <div class="btn_block">
                                    <button class="thirdbtn2_green reportbtn">檢舉</button>
                                    <div class="collect_checkbox equ_collect_checkbox">
                                        <input type="checkbox" id="collect_checkbox">
                                        <label class="equ_collect_btn" for="collect_checkbox" id="the_label">收藏</label>
                                    </div>
                                </div>

                                <div class="poster_inform">
                                    <h4 class="third_title poster">刊登會員資訊</h4>
                                    <div class="inform_block01">
                                        <div class="inform_block02">
                                            <div class="inform_block02_pic">
                                                <a href=""><img src="pic/equipment/member.png" alt=""></a>
                                            </div>
                                            <div class="inform_block02_text">
                                                <h4><a href="" class="third_title level2">Yong Hwa</a></h4>
                                                <p class="level1 gray1">會員等級：鑽石</p>
                                            </div>                               
                                        </div>
                                        
                                        
                                        <button class="thirdbtn1_green mes_btn" @click="equmsgbtn" id="equmsgbtn" >私訊上架者</button>
                                        
                                    </div>
                                </div>

                                <!-- 私訊燈箱 -->
                
                                <div class="msgoverlay">
                                    <article>
                                        <div class="level7 bold green1 equmsg_title">傳送訊息給Yong Hwa</div>
                                                        
                                        <form class="msg_form" action="">
                                                    
                                            <div class="msg_block level1 gray1">
                                                <textarea  type="text" name="equmsg" id="equmsg01" placeholder="請輸入訊息..."></textarea>
                                            </div>                       
                
                                            <div class="msg_close_btn">
                                                <input class="thirdbtn1_green msg_submit_btn" type="submit" name="SB" value="送出">
                                                <button type="button" class="thirdbtn2_green btn_msg_close">關閉</button>
                                            </div>                                        
                                        </form>
                                    </article>
                                </div>  
                            </div>

                            <div class="equdescribe">
                                <div class="sub_title green1 level7">NUIT 家庭帳篷六人帳蓬</div>
                                <div class="third_title level2 equ_third">商品說明</div>
                                <p class="level1 gray1">✔270標準大內帳，搭配L號充氣床，小資族也能享受舒適露營。</p>
                                <p class="level1 gray1">✔頂級遮光黑膠材質，遮光率達99.7%。</p>
                                <p class="level1 gray1">✔Air Convection 氣流循環系統，有像降低悶熱、結露。</p>
                                <p class="level1 gray1">✔可收闔的兩頁式後門，全黑膠塗層，阻隔刺眼陽光。</p>
                                <p class="level1 gray1">✔大片前延系統，強化遮光擋雨片。</p>
                                <p class="level1 gray1">✔頂級3000mm耐水壓，高防水等級。</p>

                                <div class="third_title level2 equ_third">我想要的設備類別</div>
                                <div class="want01_sort_equ">
                                    <p class="want_number level1 gray1">1.</p>
                                    <p class="want_sort_name level1 gray1">帳篷：家庭帳</p>
                                </div>
                                <div class="want02_sort_equ">
                                    <p class="want_number level1 gray1">2.</p>
                                    <p class="want_sort_name level1 gray1">睡袋：成人睡袋</p>
                                </div>
                                <div class="want03_sort_equ">
                                    <p class="want_number level1 gray1">3.</p>
                                    <p class="want_sort_name level1 gray1">其他：桌椅</p>
                                </div>
                                
                                <div class="apply_change_btn_block">
                                    <button class="mainbtn1 apply_change_btn">提出交換申請</button>
                                </div>

                                <!-- 提出交換申請燈箱 -->
                                <div class="applyoverlay">
                                    <article>
                                        <div class="level7 bold green1 apply_title">我的換物列表</div>
                                                        
                                        <form class="apply_form" action="">
                                                    
                                            <div class="apply_item_block level1 gray1">
                                                <div class="apply_item01">
                                                    <img src="./pic/equipment/f_tent02.jpg" alt="">
                                                    <span class="level1 gray1">NUIT 家庭帳篷六人帳蓬</span>
                                                </div>
                                                <div class="apply_item02">
                                                    <img src="./pic/equipment/f_tent02.jpg" alt="">
                                                    <span class="level1 gray1">NUIT 家庭帳篷六人帳蓬</span>
                                                </div>
                                                <div class="apply_item03">
                                                    <img src="./pic/equipment/f_tent02.jpg" alt="">
                                                    <span class="level1 gray1">NUIT 家庭帳篷六人帳蓬</span>
                                                </div>
                                            </div>                            
                            
                    
                                            <div class="apply_close_btn">
                                                <input class="thirdbtn1_green apply_submit_btn" type="submit" name="SB" value="送出">
                                                <button type="button" class="thirdbtn2_green btn_apply_close">關閉</button>
                                            </div>                                        
                                        </form>
                                    </article>
                                </div>  
                                
                            </div>                        
                        </div>
                    
                </div>                       
            </div>
        </section>
        <section class="bgcColor">
            <div class="wrap">
                <div class="title">
                    其他設備
                </div>

                <div class="other_equ">
                    <div class="other_equ_block">
                        <a href="#" class="level2 gray1">
                        <img src="pic/equipment/f_tent01.jpg" alt="">
                        NUIT 家庭帳篷六人帳蓬
                        </a>
                    </div>
                    <div class="other_equ_block">
                        <a href="#" class="level2 gray1">
                        <img src="pic/equipment/f_tent02.jpg" alt="">
                        NUIT 家庭帳篷六人帳蓬
                        </a>
                    </div>
                    <div class="other_equ_block">
                        <a href="#" class="level2 gray1">
                        <img src="pic/equipment/f_tent03.png" alt="">
                        NUIT 家庭帳篷六人帳蓬
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="bgcColor">
            <div class="wrap">
                <div class="title">
                    誰來交換
                </div>

                <div class="change_block">
                    <div class="change_min_block01">
                        <div class="change_min_block01_num">
                            <h3 class="level1 green1 change_tit">#1</h3>
                        </div>
                        <div class="change_min_block01_pic">
                            <img src="pic/equipment/f_tent04.png" alt="">
                        </div>
                        <div class="change_min_block01_desc">
                            <div class="third_title level1">商品名稱</div>
                            <p class="level1 gray1">NUIT 家庭帳篷六人帳蓬</p>
                            <div class="third_title level1 equ_num">商品數量</div>
                            <p class="level1 gray1">1個</p>
                        </div>
                        <div class="change_min_block01_mem">
                            <div class="change_min_block01_mem_pic">
                                <a href=""><img src="pic/equipment/memb02.png" alt=""></a>
                            </div>
                            <div class="change_min_block01_text">
                                <h4><a href="" class="third_title level2">Allison Lin</a></h4>
                                <p class="level1 gray1">會員等級：鑽石</p>
                            </div>                            
                        </div>                        
                    </div>

                    <div class="change_min_block01">
                        <div class="change_min_block01_num">
                            <h3 class="level1 green1 change_tit">#2</h3>
                        </div>
                        <div class="change_min_block01_pic">
                            <img src="pic/equipment/f_tent01.jpg" alt="">
                        </div>
                        <div class="change_min_block01_desc">
                            <div class="third_title level1">商品名稱</div>
                            <p class="level1 gray1">NUIT 家庭帳篷六人帳蓬</p>
                            <div class="third_title level1 equ_num">商品數量</div>
                            <p class="level1 gray1">1個</p>
                        </div>
                        <div class="change_min_block01_mem">
                            <div class="change_min_block01_mem_pic">
                                <a href=""><img src="pic/equipment/memb03.jpg" alt=""></a>
                            </div>
                            <div class="change_min_block01_text">
                                <h4><a href="" class="third_title level2">Arrow Wei</a></h4>
                                <p class="level1 gray1">會員等級：鑽石</p>
                            </div>                            
                        </div>                        
                    </div>

                    <div class="change_min_block01">
                        <div class="change_min_block01_num">
                            <h3 class="level1 green1 change_tit">#3</h3>
                        </div>
                        <div class="change_min_block01_pic">
                            <img src="pic/equipment/f_tent02.jpg" alt="">
                        </div>                        
                        <div class="change_min_block01_desc">
                            <div class="third_title level1">商品名稱</div>
                            <p class="level1 gray1">NUIT 家庭帳篷六人帳蓬</p>
                            <div class="third_title level1 equ_num">商品數量</div>
                            <p class="level1 gray1">1個</p>
                        </div>
                        <div class="change_min_block01_mem">
                            <div class="change_min_block01_mem_pic">
                                <a href=""><img src="pic/equipment/memb04.jpg" alt=""></a>
                            </div>
                            <div class="change_min_block01_text">
                                <h4><a href="" class="third_title level2">Greg Hsu</a></h4>
                                <p class="level1 gray1">會員等級：鑽石</p>
                            </div>                            
                        </div>                        
                    </div>
                </div>
            </div>
        </section>
        </div>  

        <footer>
            <div class="footer_bgc">
                <div class="wrap">
                    <div class="footerarrange">
                        <div class="footright">
                            <div class="level2 green1">聯絡資訊 |</div>
                            <div class="level0 green1">
                                電子信箱|ShanSen@gmail.com<br>
                                營業時間|週二至週日 10:00~20:00(國定假日休假)
                            </div>
                        </div>
                        <div class="footercenter">
                            <a href="./shansen.html">
                                <img src="./pic/commom/pc_header.svg">
                            </a>
                        </div>
                        <div class="footerright">
                            <div class="link">
                                <div class="level2 green1">相關連結 |</div>
                                <div class="footer_icon">
                                    <img src="./pic/commom/foot_line.svg" alt="">
                                    <img src="./pic/commom/foot_ig.svg" alt="">
                                    <img src="./pic/commom/foot_fb.svg" alt="">
                                    <img src="./pic/commom/foot_email.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">Copyright &copy; 2020ShanSen</div>
        </footer>
    </div>
    <script src="./js/logintext.js"></script>
    
    <script>
        let vm = new Vue({
            el: '#equipment',
            data: {  
                tents: ['家庭帳','小型帳','客廳帳','更衣帳','炊事帳'],       // 變數存放的地方
                sbags: ['成人睡袋','兒童睡袋','雙人睡袋'],       
                others: ['桌椅','炊具','小物'],     
                // contents: "equmsgbtn",
            },
            methods: {
                // equmsgbtn(){
                    
                // }   
            },
            computed: {
            },
            watch: { 
            },
        });

         //私訊燈箱
        // Vue.component('equmsgbtn',{
        //         template: `
        //         <div class="msgoverlay">
        //             <article>
        //                 <div class="level7 bold green1 equmsg_title">傳送訊息給Yong Hwa</div>
                                    
        //                     <form class="msg_form" action="">
                                
        //                         <div class="msg_block level1 gray1">
        //                             // <label for="msgclock"></label>
        //                             <input class="inputstyle" type="text" name="equmsg" id="equmsg01" placeholder="請輸入訊息...">
        //                         </div>                            
        

        //                         <div class="msg_close_btn">
        //                             <input class="thirdbtn1_green msg_submit_btn" type="submit" name="SB" value="送出">
        //                             <button type="button" class="thirdbtn1_green btn_msg_close">取消</button>
        //                         </div>                                        
        //                     </form>
                                    
        //             </article>
        //         </div>  
        //         `,
        //     });

    </script>

    <script>
            // hamburger icon 的切換
            $(function(){

            $("button.hamburger").on("click", function(){
                $(this).toggleClass("is-active");
                $('.nav_list').slideToggle();

                });
            });


            //檢舉燈箱
            $(function(){

                $("button.reportbtn").on("click", function(){
                $(".report_overlay").addClass("-on");
                });

                $("button.btn_modal_close").on("click", function(){
                $(".report_overlay").addClass("-opacity-zero");
                
                $("input[name=reason0]").each(function(){
                    $(this).prop("checked",false);
                });

                setTimeout(function(){
                    $(".report_overlay").removeClass("-on -opacity-zero");
                    }, 1000);
                });

            });

            //私訊燈箱
            $(function(){

                $("button.apply_change_btn").on("click", function(){
                $(".applyoverlay").addClass("-on");
                });

                $("button.btn_apply_close").on("click", function(){
                $(".applyoverlay").addClass("-opacity-zero");

                setTimeout(function(){
                    $(".applyoverlay").removeClass("-on -opacity-zero");
                    }, 1000);
                });

            });


            //申請交換燈箱
            $(function(){

                $("button.mes_btn").on("click", function(){
                $(".msgoverlay").addClass("-on");
                });

                $("button.btn_msg_close").on("click", function(){
                $(".msgoverlay").addClass("-opacity-zero");

                setTimeout(function(){
                    $(".msgoverlay").removeClass("-on -opacity-zero");
                    }, 1000);
                });

            });


            //更換圖片
            $('.eqimg').click(function(){ 
                let mig = $(this).attr("src");
                $('.eqimg').removeClass("now");
                $(this).addClass("now");
                $(".noweqimg").attr("src", mig);      //要更換的圖片位置
            });
    </script>




</body>
</html>