<header >
    <div class="forphone">
    <button class="hamburger hamburger--spring" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    </div>
    <nav class="wrap_nav">
        <div class="nav_logo">
            <a class="logo_link -bottom">
                <img class="desk sun" src="./pic/commom/sun.svg" alt="">
            </a>
            <a class="changelogo" href="./shansen.html">
            <img class="phone" src="./pic/commom/phone_header.svg">
            </a>
            <div class="middle_bg"></div>
            <a href="./shansen.html" class="logo_link -up">
                <img class="desk" src="./pic/commom/pc_header.svg">
            </a>
        </div>
        <div class="nav_list">
            <ul >
                <li><a class="nav_title @@underline_01" href="./group.html">揪團露營</a></li>
                <li><a class="nav_title @@underline_02" href="./equipment.html">設備交換</a></li>
                <li><a class="nav_title @@underline_03" href="./camping.html">營區攻略</a></li>
                <li><a class="nav_title @@underline_04" href="./letter.html">來去寫信</a></li>
                <li><a class="nav_title @@underline_05" href="./aboutus.html">關於我們</a></li>
                <li><a href="./member.html" id="header_memName">&nbsp;</a>
                    <a class="nav_title @@underline_06" id="spanLogin">登入|註冊</a>
                </li>
            </ul>
        </div>
    </nav>
</header>