<div id="outerDiv">
    <div id="lightBox">
        <input type="checkbox" id="login_img_control" name="login">
        <div class="login_container">
            <div id="logiMember">
                <table border="1" align="center" cellspacing="0" id="tableLogin" class="login_block_left">
                    <tr><td colspan="2" align="center"><a href="./shansen.html"  class="logo_link_logo">
                        <img class="login_logo"  style="width: 75px;padding: 20px 5px 10px 0px;" src="./pic/commom/1017_logo.png" alt="">
                    </a></td></tr>
                    <tr><td colspan="2" align="center" class="sub_title">會員登入</td></tr>
                    <tr><td>帳號：</td><td><input class="inputstyle" type="text" name="memId" id="LoginMemId" placeholder="請輸入您的Email"></td></tr>
                    <tr><td>密碼：</td><td><input class="inputstyle" type="password" name="memPsw" id="LoginMemPsw" placeholder="請輸入密碼(6-20英數字)"></td></tr>
                    <tr><td colspan="2" align="center">
                        <input type="button" id="btnLogin" value="登入" class="thirdbtn1_green">  
                        <input type="button" id="btnLoginCancel" value="取消" class="thirdbtn2_green">  
                    </td></tr>
                    <tr><td colspan="2" align="center" class="level1">
                        <p id="forgetPsw">忘記密碼?</p>
                        <label for="login_img_control">
                            <span id="to_register_btn">還沒申請帳號?</span>
                        </label>
                    </td></tr>
                </table>
            </div>
            <form id="reiMember">
                <table align="center" cellspacing="0" id="register" class="login_block_right">
                    <tr><td colspan="2" align="center"><a href="./shansen.html" class="logo_link_logo">
                        <img class="login_logo"  style="width: 75px;padding: 20px 5px 10px 0px;" src="./pic/commom/1017_logo.png" alt="">
                    </a></td></tr>
                    <tr><td colspan="2" align="center" class="sub_title">註冊會員</td></tr>
                    <tr><td>會員帳號：</td><td><input class="inputstyle" type="text" name="memId" id="RegiMemId" placeholder="請輸入您的Email"></td></tr>
                    <tr><td>會員密碼：</td><td><input class="inputstyle" type="password" name="memPsw" id="RegiMemPsw" placeholder="請輸入密碼(6-20英數字)"></td></tr>
                    <tr><td>確認密碼：</td><td><input class="inputstyle" type="password" name="memPsw_check" id="RegiDCMemPsw" placeholder="請再次輸入密碼"></td></tr>
                    <tr><td>會員姓名：</td><td><input class="inputstyle" type="text" name="memName" id="RegiMemName" placeholder="請輸入您的姓名"></td></tr>
                    <tr><td>會員暱稱：</td><td><input class="inputstyle" type="text" name="memNice" id="RegiMemNickname" placeholder="請輸入您的暱稱"></td></tr>
                    <tr><td colspan="2" align="center">
                        <input type="button" id="btnRegi" value="註冊" class="thirdbtn1_green">  
                        <input type="button" id="btnRegiCancel" value="取消" class="thirdbtn2_green">  
                    </td></tr>
                    <tr><td colspan="2" align="center" class="level1">
                        <label for="login_img_control">
                            <span id="to_login_btn">已有會員帳號?</span>
                        </label>
                    </td></tr>
                </table>
            </form>
            <div class="login_block_mid">
                <img src="./pic/commom/mid_pic.svg" alt="登入頁照片">
            </div>
        </div>
    </div>
</div>