//後台登入頁
.login_backstage_out{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url(../pic/backstage/login_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
        .login_backstage_in{
            width: 330px;
            background-color: white;
            border-radius: 8px;
            text-align: center;
            padding: 24px;
            table{
                margin: 0 auto;
                tr{
                    height: 40px;
                    .backloginbtn{
                        padding-top: 30px;
                    }
                }
            }
        }
}
.login_input{
    border-radius: 4px;
    border: 1px solid #007E85;
    height: 30px;
}

//後台
.back_header{
    top: 0;
    position: fixed;
    img{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .back_login{
        display: block;
        position: absolute;
        right: 30px;
        top: 20px;
        .back_username{
            font-size: 18px;
            color: $greenColor1;
            margin-right: 10px;
        }
    }
}
.bgcColor{
    background-color:$bgcColor;
}
.back_page{
    max-width: 1140px;
    width: 100%;
    display: flex;
    margin: 75px auto 0;
    .back_page_leftside{
        height: 460px;
        width: 200px;
        background-color: white;
        border-radius: 10px;
        padding:15px 20px;
        margin: 20px 30px 20px 0px;
        .back_list_title{
            font-size: 20px;
            margin: 15px 0 15px;
            padding: 10px 0 0 0;
            color: $greenColor1;
            font-weight: bold;
            border-top: 2px solid $grayColor2;
            .back_list{
                display: block;
                border-style: none;
                background-color: transparent;
                font-size: 18px;
                font-weight: bold;
                color: $grayColor1;
                margin: 10px 0;
                padding: 0;
            }
        }
        .back_list_title:first-child{
            border-top: none;
            padding-top: 0;
        }
    }
    .back_page_rightside{
        width: 900px;
        background-color: white;
        border-radius: 10px;
        padding:20px;
        margin: 20px 0px 20px 0px;
    }
}

//公用
.back_area{
    margin: 0 auto;
    width: 800px;
    //公用-title
    position: relative;
    .back_title{
        font-size: 20px;
        color: $grayColor1;
        margin: 5px auto 20px;
        margin-left: 0;
        color: $grayColor1;
        font-weight: bold;
    }
    .back_add{
        position: absolute;
        top: 0;
        right: 0;
    }
}
//公用-table
.back_table{
    margin: 20px auto;
    width: 800px;
    th{
        padding: 10px;
        background-color: $yellowColor1;
        border: 1px solid $yellowColor1;
    }
    td{
        border-bottom: 1px solid $yellowColor1;
        padding: 10px;
        text-align: center;
    }
}
//公用-頁籤btn
.back_btn_style{
    font-size: 0;
    .back_btn1{
        width: 120px;
        border-radius: 5px 5px 0 0;
        border:1px solid $yellowColor1;
        background-color:$yellowColor1 ;
        font-size: 1.1rem;
        font-weight: bold;
        padding: 5px 0;
    }
    .back_btn2{
        width: 120px;
        border-radius: 5px 5px 0 0;
        background-color:white;
        border:1px solid $yellowColor1;
        font-size: 1.1rem;
        font-weight: bold;
        padding: 5px 0;
    }
}
//公用-orangebtn
.back_loginbtn{
    border: 1px solid $orangeColor1;
    background-color: $orangeColor2;
    color: #fff;
    border-radius: 5px;
    padding: 3px 7px;
    cursor: pointer;
}
//公用-switch
input[type="checkbox"].switch{
    appearance: none;
    width: 3.5em;
    height: 1.5em;
    background: #ddd;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all .2s ease-in-out;
        &:checked{
            background: $yellowColor1;
            &:after{
                left: calc(100% - 1.5em);
            }
        }
        &:after{
            position: absolute;
            content: "";
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            background: #fff;
            box-shadow: 0 0 .25em rgba(0,0,0,.3);
            transform: scale(.7);
            left: 0;
            transition: all .2s ease-in-out;
        }
}


//管理員管理
.back_manager_area{
    width: 800px;
    margin-top: 5px;
    .back_manager_table1{
        margin-top: 0;
    }
    .add_manager{
        border: 1px solid $yellowColor1;
        p{
            text-align: center;
            margin: 20px auto;
        }
        .back_send{
            display: block;
            margin: 40px auto 20px;
        }
    }
}
.back_game_manger_area{
    width: 800px;
    margin-top: 5px;
    .back_game_table{
        margin-top: 0;
        tr{
            .qutitle{
                text-align: left;
                width: 200px;
            }
            .opt{
                text-align: left;
                width: 300px;
            }
        }
    }
    .add_question{
        border: 1px solid $yellowColor1;
        p{
            text-align: center;
            margin: 20px auto;
            label{
                width: 80px;
                display: inline-block;
                text-align: right;
            }
        }
        .back_send{
            display: block;
            margin: 40px auto 20px;
        }
    }
}
