.page{
    padding: 0px 0px 20px 0px;
}
.camping_block{
    background-color: white;
    border-radius: 10px;
    padding:20px;
    margin: 20px 0px 0px 0px;
}
.camppart{
    margin-bottom: 60px;
}
//麵包穴
.section1{
    .breadcrumbs{
        ul{
            text-align: left;
            padding: 30px 0;
            height: auto;
            
            li{
                display: inline-block;
                margin: 0px;
                line-height: auto;
                height: auto;
                a{
                    font-weight:bold;
                    text-decoration: none;
                    &:hover{
                        color: $greenColor3;
                    }
                }
                &::after{
                    content: ">";
                    color: #007E85;
                    margin: 10px;
                }
                &:last-child::after{
                    content: "";
                }
            }
        }
    }
}

.waethermap{
    display: flex;
}
#weatherbox{
    border-right: 2px solid $grayColor2;
}
.map{
    height: 550px;
    background: #222;
    display: inline-block;
    max-width: 900px;
    width: 100%;
    margin: 0 0 0 20px;
}
//地圖的tooltip
.leaflet-popup-content-wrapper{
    width: 200px;
}
.leaflet-popup-content{
    margin: 18px 16px;
    .spot{
        cursor: pointer;
        img{
            max-width: 167px;
            width: 100%;
            border-radius: 5px;
        }

    }
}

.weather{
    padding: 0 20px 0 0;
}
//搜尋bar
.search_area{
    margin: 10px auto;
    border-bottom: 2px solid $grayColor2;
    max-width: 350px;
    width: 100%;
    p{
        margin: 10px 0;
        line-height: 30px;
        text-align: center;
        label{
            display: inline-block;
            width: calc(100%-250px);
        }
        select{
            width: 250px;
        }
    }
}

//溫度、降雨、濕度
.infos{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px 0 20px 0;
    border-bottom: 2px solid $grayColor2;
    .NowT{
        padding:5px 12px 0;
        .TtoT{
            color: $greenColor3;
        }
    }
    .PoP{
        vertical-align: center;
        padding: 20px 8px;
        color: $greenColor3;

        p{
            padding-top: 10px;
            color: $greenColor1;;
        }
    }
    .RH{
        vertical-align: center;
        padding: 20px 8px ;
        color: $greenColor3;
        p{
            padding-top: 10px;
            color: $greenColor1;;
        }
    }
}
.infosbox{
    border: 3px solid $greenColor1;
    border-radius: 5px;
    background-color: $greenColor4;
    font-weight: bold;
}

.weatherweek{ 
    display: flex;
    text-align: center;
    justify-content:center;
    margin: 20px auto;
    max-width: 350px;
    width: 100%;    
    .week{
        max-width: 50px;
        width: 100%;
        border-right:1px solid white ;
    }
    .day{
        border-bottom:1px solid white ;
        background-color: $greenColor3;
        color: white;
        padding: 6px 8px;
    }
    .temp{
        border-bottom:1px solid white ;
        background-color: $greenColor2;
        color: white;
        padding: 9px 8px;
    }
}

.weatherdesc{
    margin: 0 auto;
    width: 360px;
}

//熱門營區
.section_hot{
margin-bottom: 60px;
}
.popular_area{
    display: flex;
    position: relative;
    overflow: hidden;
    .coll_num{
        float: right;
    }
    .area_pic{
        padding-right: 20px;
        img{
            width: 400px;
            border-radius: $radius;
        }
    }

    .hot{
        background-color:  $orangeColor2; 
        width: 170px;
        height: 170px;
        position: absolute;
        left: -85px;
        top: -85px;
        transform: rotate(45deg);
        z-index:1;
        p{
            font-size: 16px;
            position: absolute;
            right: 5px;
            bottom: 50%;
            transform: rotate(-45deg);
        }
    }
}

//其他熱門營區
.other_popular_area{
    display: flex;
    text-align: center;
    justify-content: space-around;
    .card{
        .content{
            text-align: left;
            margin: 0 auto;
            max-width: 250px;
            width: 100%;
            img{
                max-width: 250px;
                width: 100%;
                border-radius: $radius;
            }
        }
    }
    .card:nth-child(1){
        margin-right: 20px;
    }
    .card:nth-child(2){
        margin-right: 20px;
    }
    .card:nth-child(3){
        margin-right: 20px;
    }
}

//近期揪團
.currently_gruop{
    border-bottom: 2px solid $grayColor2;
    padding: 0 0 30px 0;
    display: flex;
    justify-content: space-evenly;
    .card{
        max-width: 350px;
        box-shadow: 3px 3px 3px 0px #888,-1px 0px 3px 0px #cccccc;
        border-radius: 10px;
        width: 100%;
        text-align: left;
        overflow: hidden;
        img{
            max-width: 350px;
            width: 100%;
        }
        .text{
            padding: 3px;
            .detail{
                text-align: right;
                button{
                    display:inline-block;
                    margin: 5px;
                }
            }
        }
    }
    .card:nth-child(1){
        margin-right: 30px;
    }
    .card:nth-child(2){
        margin-right: 30px;
    }
}
.camping_btn{
    .more_btn{
        display: block;
        margin: 20px auto 10px;
    }
}
//------------------------------------------------------------
//camping2
.location{
    .titlearea{
        position: relative;
        .like{
            display: inline-block;
            position: absolute;
            right: 0;

        }
    }
    .camp_slider{
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding-bottom: 20px;
        #content{			
            position: relative;
            li{
                float: left;
                img{
                    width: 100%;
                    border-radius: 5px;
                }
            }
        }
        #contentButton{
            text-align: center;
            width: 100%;
            height: 40px;
            li{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #ccc;
            
                display: inline-block;
                margin: 5px;
            }
            .clickMe{
                background: #888;
            }
        }
    }
    .introduction{
        padding: 5px 0px;
    }
}

//營地資訊
.location_inf{
    .content{
        display: flex;
        justify-content: space-around;
        .location_map{
            flex-basis: 55%;
            img{
                max-width: 660px;
                width: 100%;
                border-radius: $radius;
            }
        }
        .location_text{
            flex-basis: 40%;
            .text{
                padding-bottom: 5px;
            }
        }
    }
    .note{
        border: 1px solid $greenColor1;
        border-radius: $radius;
        padding: 10px;
        margin:10px 10px 0px 10px;
        .text{
            text-align: center;
        }
    }
}
//探訪相似的團
.linkgroup{
    .gMainGroups{
        width:100%;
        // border: 1px solid red;
        height: 250px;
        margin: 20px 0 40px 0;
        font-size: 0;
        a{
            background-color: $white;
            overflow: hidden;
            border-radius: 5px;
            height: 100%;
            width: 100%;
            margin-right: 40px;
            display: inline-block; 
            width: calc( (100% - 120px) / 4);
            &:last-child{
                margin-right: 0px;
            }    
            .gMainGroup{
                .img{
                    width: 100%;
                    height: 180px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .linktogroupbtn{
        text-align: center;
    }
}


//聯絡會員
.contact_page{
    .contact_mem{
        display: flex;
        position: relative;
        img{
            width: 60px;
        }
        .contact_title{
            line-height: 60px;
        }
        .contact_btn{
            position: absolute;
            right: 0;
            bottom: 0;
            border-style: none;
            background-color: transparent;  
            color: #F85619;
            padding: 0 10px;
            height: 30px;
            font-size: 18px;
            font-weight: bold;
        }
    }
    .camping_block{
        .contact_list{
            display: block;
            
            .content{
                display: block;
                border: 1px solid $yellowColor2;
                background-color: $yellowColor2;
                color: $greenColor1;
                border-radius: 5px;
                margin: 0 auto;
                line-height: 40px;
                position: relative;
                .icon{
                    display: inline-block;
                    .minus{
                        display: block;
                        padding: 0 8px 8px;
                        font-size: 24px;
                        cursor: pointer;
                        position: absolute;
                        margin-bottom: 6px;
                        right: 0;
                        top: 0;
                    }
                    .plus{
                        display: none;
                        padding: 0 8px 8px;
                        font-size: 24px;
                        cursor: pointer;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
                .iconremove{
                    .minus{
                            display: none;
                    }
                    .plus{
                        display: block;
                    }
                
                }
                .txt{
                    display: none;
                    padding: 20px;
                    background-color: #fff;
                    border-radius: 0 0 5px 5px;
                }
                .text1{
                    display: block;
                    padding: 16px;
                    p{
                        font-size: $baseSize;
                        color:$orangeColor2;
                    }
                    ul{
                        .group_everyRow{
                            border: 1px solid $greenColor1;
                            display: flex;
                            position: relative;
                            overflow: hidden;
                            align-items: center;
                            margin-bottom: 16px;
                            background-color: white;
                            img{
                                width: 300px;
                            }
                            ul{
                                text-align: left;
                                padding-left: 32px;
                                width: 70%;
                                li{
                                    margin-bottom: 8px;
                                    text-align: left;
                                    overflow : hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                }
                                :last-child{
                                    margin: 0;
                                }
                            }
                            div{
                                min-width: 150px;
                                color: $orangeColor2;
                            }
                        }
                        .unlockRow::after{
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            background-color: rgba($color: #000000, $alpha: .4);
                        }
                    }
                }
                .text2{
                    padding: 16px;
                    p{
                        font-size: $baseSize;
                        color:$orangeColor2;
                    }
                    ul{
                        .group_everyRow{
                            border: 1px solid $greenColor1;
                            display: flex;
                            position: relative;
                            overflow: hidden;
                            align-items: center;
                            margin-bottom: 16px;
                            background-color: white;
                            img{
                                width: 300px;
                            }
                            ul{
                                text-align: left;
                                padding-left: 32px;
                                width: 70%;
                                li{
                                    margin-bottom: 8px;
                                    text-align: left;
                                    overflow : hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                }
                                :last-child{
                                    margin: 0;
                                }
                            }
                            div{
                                min-width: 150px;
                                color: $orangeColor2;
                            }
                        }
                        .unlockRow::after{
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            background-color: rgba($color: #000000, $alpha: .4);
                        }
                    }
                }
                .text3{
                    .Equipment_record{
                        margin-bottom: 16px;
                        li{
                            border: 1px solid $grayColor1;
                            position: relative;
                            width: 100%;
                            *{
                                display: inline-block;
                                vertical-align: middle;
                                text-align: center;
                            }
                            img{
                                width: 130px;
                            }
                            :first-child{
                                width: 10%;
                
                            }
                            :nth-child(2){
                                width: 30%;
                            }
                            :nth-child(3){
                                width: 40%;
                                text-align: left;
                            }
                            :last-child{
                                width: 15%;
                                
                            }
                        }
                        li:first-child{
                            background-color:$greenColor2;
                            color: black;
                            :nth-child(3){
                                text-align: center;
                            }
                        }
                    }
                    .lookEquipment::after{
                        content: '';
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        position: absolute;
                        background-color: rgba($color: #000000, $alpha: .4);
                    }
                }
            }
            .secend{
                margin: 20px auto;
            }
        }
    }
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: hsla(0, 0%, 0%, .5);
        opacity: 0;
        z-index: -1;
        transition: opacity 1s;
        article{
            background-color: #fff;
            width: 90%;
            max-width: 500px;
            border-radius: 5px;
            padding: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            p{
                margin: 10px auto;
                .label_sender{
                    display: inline-block;
                    width: 60px;
                }
                .contact_sender{
                    width: calc(100% - 80px);
                }
                .label_text{
                    display: inline-block;
                    width: 60px;
                    vertical-align: top;
                }
                .contact_text{
                    width: calc(100% - 80px);
                    height: 200px;
                    resize: none;
                }
            }
            .contact_btn{
                text-align: center;
                input{
                    margin-right: 20px;
                }
            }
        }
    }
}


//rwd
@media screen and (min-width: 768px) and (max-width: 991px){
    .search_area{
        p{
            label{
                width: calc(100%-200px);
            }
            select{
                width: 200px;
            }
        }
    }
    .infos{
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    .weatherweek{     
        .day{
            padding: 6px 4px;
        }
        .temp{
            padding: 9px 4px;
        }
    }
    .weatherdesc{
        max-width: 300px;
        width: 100%;
    }
    //熱門營區
    .popular_area{
        .area_pic{
            img{
                width: 350px;
            }
        }
    }
    //其他熱門營區
    .other_popular_area{
        flex-wrap: wrap;
        .card{
            flex: 40%;
        }
        .card:nth-child(2){
            margin-right: 0px;
        }
    }
    .linkgroup{
        .gMainGroups{
            a{
                width: calc( (100% - 80px) / 3);
                &:nth-child(3){
                    margin-right: 0px;
                }
                &:last-child{
                    display: none;
                    margin-right: 0px;
                }    
            }
        }
    }
    .contact_page{
        .camping_block{
            .contact_list{
                .content{
                    .text1{
                        ul{
                            .group_everyRow{
                                img{
                                    width: 200px;
                                }
                                ul{
                                    text-align: left;
                                    padding: 8px 8px 8px 32px;
                                    width: 70%;
                                }
                                div{
                                    min-width: 100px;
                                    font-size: 18px;
                                }
                            }
                            
                        }
                    }
                    .text2{
                        ul{
                            .group_everyRow{
                                img{
                                    width: 200px;
                                }
                                ul{
                                    text-align: left;
                                    padding: 8px 8px 8px 32px;
                                    width: 70%;
                                }
                                div{
                                    min-width: 100px;
                                    font-size: 18px;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    .waethermap{
        display: block;
    }
    #weatherbox{
        border-right: none;
    }
    .map{
        margin-left:0px ;
        height: 350px;
    }
    
    .weather{
        padding: 0 0 10px 0;
    }
    .infos{
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
    }
    .weatherweek{     
        .day{
            padding: 6px 4px;
        }
        .temp{
            padding: 9px 4px;
        }
    }
    .weatherdesc{
        max-width: 350px;
        width: 100%;
    }

    //熱門營區
    .popular_area{
        display: block;
        .area_pic{
            padding-right: 0px;
            img{
                width: 100%;
            }
        }
    }

    //其他熱門營區
    .other_popular_area{
        flex-wrap: wrap;
        .card{
            flex: 40%;
        }
        .card:nth-child(2){
            margin-right: 0px;
        }
    }

    //近期揪團
    .currently_gruop{
        border-bottom: none;
        display: block;
        .card:nth-child(1){
            margin: 0 auto 20px;
        }
        .card:nth-child(2){
            margin: 0 auto 20px;
        }
        .card:nth-child(3){
            margin: 0 auto;
        }
    }
    //page2-營區介紹-營區資訊
    .location_inf{
        .content{
            display: block;
            .location_text{
                padding: 10px;
            }
        }
        .note{
            border: 1px solid $greenColor1;
            border-radius: $radius;
            padding: 10px;
            margin:10px 10px 0px 10px;
            .text{
                text-align: center;
            }
        }
    }
    .linkgroup{
        .gMainGroups{
            margin: 10px 0;
            a{
                width: calc( (100% - 40px) / 2);
                &:nth-child(2){
                    margin-right: 0px;
                }
                &:last-child, &:nth-child(3){
                    display: none;
                    margin-right: 0px;
                }    
            }
        }
    }
    .contact_page{
        .camping_block{
            .contact_list{
                .content{
                    .text1{
                        ul{
                            .group_everyRow{
                                img{
                                    display: none;
                                }
                                ul{
                                    text-align: left;
                                    padding: 8px 8px 8px 16px;
                                    width: 80%;
                                }
                                div{
                                    min-width: 100px;
                                    font-size: 18px;
                                }
                            }
                            
                        }
                    }
                    .text2{
                        ul{
                            .group_everyRow{
                                img{
                                    display: none;
                                }
                                ul{
                                    text-align: left;
                                    padding: 8px 8px 8px 16px;
                                    width: 80%;
                                }
                                div{
                                    min-width: 100px;
                                    font-size: 18px;
                                }
                            }
                            
                        }
                    }
                    .text3{
                        .Equipment_record{
                            margin-bottom: 16px;
                            li{
                                border: 1px solid $grayColor1;
                                position: relative;
                                width: 100%;
                                *{
                                    display: inline-block;
                                    vertical-align: middle;
                                    text-align: center;
                                }
                                img{
                                    display: none;
                                }
                                :first-child{
                                    width: 10%;
                                }
                                :nth-child(2){
                                    display: none;
                                }
                                :nth-child(3){
                                    width: 65%;
                                }
                                :last-child{
                                    width: 20%;
                                        
                                }
                            }
                            li:first-child{
                                background-color:$greenColor2;
                                color: black;
                                :nth-child(3){
                                    text-align: center;
                                }
                            }
                        }
                        .lookEquipment::after{
                            content: '';
                            top: 0;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            position: absolute;
                            background-color: rgba($color: #000000, $alpha: .4);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px){
//搜尋bar
.search_area{
    p{
        select{
            max-width: 190px;
            width: 100%;
        }
    }
}
    //溫度、降雨、濕度
.infos{
    .NowT{
        padding:0px 10px 0;
    }
    .PoP{
        padding: 15px 4px;
        p{
            padding-top: 6px;
        }
    }
    .RH{
        padding: 15px 4px ;
        p{
            padding-top: 6px;
        }
    }
}
    //其他熱門營區
    .other_popular_area{
        display: block;
        .card{
            .content{
                max-width: 500px;
                width: 100%;
                img{
                    max-width: 500px;
                    width: 100%;
                }
            }
        }
        .card:nth-child(1){
            margin-right: 0px;
        }
        .card:nth-child(2){
            margin-right: 0px;
        }
        .card:nth-child(3){
            margin-right: 0px;
        }
    }
    .contact_page{
        .camping_block{
            .contact_list{
                .content{
                    .text1{
                        ul{
                            .group_everyRow{
                                display: block;
                                ul{
                                    text-align: left;
                                    padding: 8px;
                                    width: 100%;
                                    border: 1px solid $greenColor2;
                                }
                                div{
                                    text-align: center;
                                }
                            }
                            
                        }
                    }
                    .text2{
                        ul{
                            .group_everyRow{
                                display: block;
                                ul{
                                    text-align: left;
                                    padding: 8px;
                                    width: 100%;
                                    border: 1px solid $greenColor2;
                                }
                                div{
                                    text-align: center;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}