//小遊戲





.game_title{
    margin: 0 auto;
    // border: 1px solid red;
    margin-left: 20%;
    max-width: 200px;
    // margin-top: 6%;
}


.game_title_word{
    margin: 0 auto;
    // border: 1px solid red;
    margin-left: 20%;
    max-width: 200px;
    
  
}




.game_table{
    min-height:70vh;
    background-color: #f6f3ed;
    background-image: url(../pic/game/game.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }


.game_title_question01{
    margin: 0 auto;  
    // border: 1px solid red;
    text-align: center;

}


.myMOUSE{ 
    cursor: pointer; 
}


#game_button_answer01{
    text-align:center;
    display: inline-block;
}

.game_button_01, .game_button_02, .game_button_03{
    text-align: center;
    margin: auto;
    margin-top: 40px;
}


.scoreWindow{
  width: 100%;
    height: 500px;
    outline: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 30%;
    left: 0;
    pointer-events: none;
    text-align: center;
    background-color: white;
    margin: 0 auto;
}

.rightBox, .wrongBox{
  outline: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    margin-left: 35%;
    position: absolute;
    top: 50%;
    left: 0;
    pointer-events: none;
}

.section_001{
    padding-top:100px;
    padding-bottom: 25px;
}



// 小遊戲RWD
@media screen and (max-width: 767px){
.section1_001 {
    display: inline-block;
    margin: 0 auto;
    width:100%;
    padding:0;
}
}


//rwd
@media screen and (min-width: 1200px){

}
@media screen and (min-width: 992px) and (max-width: 1199px){
    
}
@media screen and (min-width: 768px) and (max-width: 991px){
}
@media screen and (max-width: 767px){
}
@media screen and (max-width: 576px){
}
@media screen and (max-width: 1199px){

}



// 還沒整理的css


// .center{margin:0 auto}
//         .addToCart{background:#ccc}
//         .center{margin:0 auto}
//         .addToCart{background:#ccc}@media all and (max-width: 768px){.col-1{width:8.33333%}.col-2{width:16.66667%}.col-3{width:25%}.col-4{width:33.33333%}.col-5{width:41.66667%}.col-6{width:50%}.col-7{width:58.33333%}.col-8{width:66.66667%}.col-9{width:75%}.col-10{width:83.33333%}.col-11{width:91.66667%}.col-12{width:100%}}
//         body{font-family:"微軟正黑體";font-weight:700}
//         .qawrap{position:relative;
//           background-image:url(../images/questionBGI1.png);
//           width:100%;background-size:cover;
//           background-position:0 -25px;
//           background-repeat:no-repeat;
//           overflow:hidden;}
//           .qawrap .qa{padding-left:34%}
//           .qawrap .qa h2{width:500px;font-size:28px;
//             font-family:"微軟正黑體";
//             font-weight:700}
       
            
             
//               .qawrap .answerBox .ans1:hover p,.qawrap .answerBox .ans2:hover p,.qawrap .answerBox .ans3:hover p{color:aliceblue}
//               .qawrap .answerBox .ans1 img,.qawrap .answerBox .ans2 img,.qawrap .answerBox .ans3 img{width:55%;margin:25px 0}
//               .qawrap .answerBox .ans1 p,.qawrap .answerBox .ans2 p,.qawrap .answerBox .ans3 p{font-size:28px;
//                 font-family:"微軟正黑體";font-weight:bolder}
//                 .qawrap .smallgame{margin-left:-55%;position:relative;display:flex;width:800px;height:600px}
//                 .qawrap .smallgame img{width:100%}
//                 .qawrap .smallgame .bm{position:absolute;top:0;left:25%;width:400px;height:400px}
//                 .qawrap .smallgame .fw{position:absolute;top:58%;left:59%;width:200px;height:200px}
//                 .qawrap .smallgame .bw{position:absolute;top:58%;left:12%;width:200px;height:200px}
//                 .qawrap .rightBox,.qawrap .wrongBox{outline:1px solid #fff;display:flex;flex-direction:column;justify-content:center;
//                   width:700px;height:700px;text-align:center;background-color:rgba(255,255,255,0.9);margin-left:35%;position:absolute;top:5%;left:0;pointer-events:none}
//                   .qawrap .rightBox h2,.qawrap .wrongBox h2{font-size:62px;font-family:"微軟正黑體";font-weight:700;margin-bottom:10%}
//                   .qawrap .rightBox img,.qawrap .wrongBox img{width:30%;height:30%;padding-left:32%}
//                   .qawrap .scoreWindow{width:100%;height:600px;outline:1px solid #ccc;background-color:rgba(255,255,255,0.9);position:absolute;top:5%;left:0;pointer-events:none}
//                   .qawrap .scoreWindow h2{padding-top:2%;text-align:center;font-size:36px;font-family:"微軟正黑體";font-weight:700}
//                   .qawrap .scoreWindow .levelBox{margin:3% 0;display:flex;justify-content:space-evenly;text-align:center}
//                   .qawrap .scoreWindow .levelItem{outline:2px solid #ccc;width:400px;height:300px}
//                   .qawrap .scoreWindow .levelItem a{display:block;width:400px;height:300px;text-align:center;text-decoration:none;font-size:28px;font-family:"微軟正黑體";
//                   color:#000}
                  
//                   .qawrap .scoreWindow .levelItem a:hover{color:aliceblue;}.qawrap .scoreWid16237ndow .levelItem a img{width:200px;height:200px;padding-left:4%;margin-bottom:5%}.qawrap .scoreWindow .linkButton a{cursor:pointer;margin:auto;display:block;width:500px;height:50px;border-radius:5px;border:1px solid #d16237;box-shadow:0 3px 3px 3px #d16237;background-color:#F4E0CC;font-size:28px;padding-top:20px;text-align:center;font-family:"微軟正黑體";font-weight:700;color:#000}.qawrap .scoreWindow .linkButton a:hover{color:aliceblue}@media all and (max-width: 768px){.qawrap{max-width:767px;background-image:url(../images/questionBGI1.png);background-size:cover;background-position:70% 0;background-repeat:no-repeat;overflow:hidden}.qawrap .qa{margin:10% 0;padding-left:5%}.qawrap .qa h2{width:350px;font-size:18px;font-family:"微軟正黑體";font-weight:700}.qawrap .answerBox{display:flex;width:350px;justify-content:space-around;margin:8% 10px 10%}.qawrap .answerBox .ans1,.qawrap .answerBox .ans2,.qawrap .answerBox .ans3{background-color:#F4E0CC;width:100px;height:100px;border-radius:50%;cursor:pointer;text-align:center;margin-left:3%}.qawrap .answerBox .ans1:hover,.qawrap .answerBox .ans2:hover,.qawrap .answerBox .ans3:hover{}.qawrap .answerBox .ans1:hover p,.qawrap .answerBox .ans2:hover p,.qawrap .answerBox .ans3:hover p{color:aliceblue}.qawrap .answerBox .ans1 img,.qawrap .answerBox .ans2 img,.qawrap .answerBox .ans3 img{width:50%;margin:5% 3% 15%}.qawrap .answerBox .ans1 p,.qawrap .answerBox .ans2 p,.qawrap .answerBox .ans3 p{font-size:20px;font-family:"微軟正黑體";font-weight:bolder}.qawrap .smallgame{margin-left:-700px;position:relative;display:flex;width:400px;height:300px}.qawrap .smallgame img{width:45%}.qawrap .smallgame .bm{position:absolute;top:0%;left:55%;width:400px;height:400px}.qawrap .smallgame .fw{position:absolute;top:51%;left:85%;width:90px;height:90px}.qawrap .smallgame .fw img{width:100%}.qawrap .smallgame .bw{position:absolute;top:52%;left:44%;width:90px;height:90px}.qawrap .smallgame .bw img{width:100%}.qawrap .rightBox,.qawrap .wrongBox{outline:1px solid #fff;display:flex;flex-direction:column;justify-content:center;width:300px;height:300px;text-align:center;background-color:rgba(255,255,255,0.9);margin-left:10%;position:absolute;top:5%;left:0;pointer-events:none}.qawrap .rightBox h2,.qawrap .wrongBox h2{font-size:36px;font-family:"微軟正黑體";font-weight:700;margin-bottom:10%}.qawrap .rightBox img,.qawrap .wrongBox img{width:30%;height:30%;padding-left:32%}.qawrap .scoreWindow{width:100%;outline:1px solid #ccc;background-color:rgba(255,255,255,0.9);position:absolute;top:2%;left:0;pointer-events:none}.qawrap .scoreWindow h2{padding-top:2%;text-align:center;font-size:32px;font-family:"微軟正黑體";font-weight:700}.qawrap .scoreWindow .levelBox{margin:3% 10%;display:flex;flex-direction:column;justify-content:space-evenly;text-align:center}.qawrap .scoreWindow .levelItem{outline:2px solid #ccc;width:300px;height:300px;margin-bottom:5%}.qawrap .scoreWindow .levelItem a{display:block;width:300px;height:300px;text-decoration:none;font-size:28px;font-family:"微軟正黑體";color:#000}.qawrap .scoreWindow .levelItem a:hover{color:aliceblue;}.qawrap .scoreWindow .levelItem a img{width:200px;height:200px;padding-left:20%}.qawrap .scoreWindow .linkButton a{cursor:pointer;margin:auto;display:block;width:500px;height:50px;border-radius:5px;box-shadow:0 3px 3px 3px #d16237;background-color:#F4E0CC;font-size:28px;padding-top:20px;text-align:center;font-family:"微軟正黑體";font-weight:700;color:#000}.qawrap .scoreWindow .linkButton a:hover{color:aliceblue}}
