<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>設備交換</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./pic/commom/browser.ico">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="equipment">
    <!-- header開始-->
    @@include('./layout/header.html', { "underline_02": "orange2" })
    <!-- 燈箱開始 -->
    @@include('./layout/login.html')
    <!-- 燈箱結束 -->
    <div class="bgcColor bg_dis">
        <section class="section1 bgcColor">
            <div class="wrap">
                <div class="title">
                    設備交換
                </div>

                <div class="breadcrumbs">
                    <ul>
                        <li><a href="./shansen.html"  class="level0 green1">首頁</a></li>        
                        <li class="level0 gray1">設備交換</li>
                    </ul>    
                </div>

                <!-- 篩選 -->
                <!-- <equselect class="equ_select"></equselect> -->

                <div class="equ_container">
                    <div class="equbar">
                        <div class="nav">
                            <div class="title_btn_block">
                                <div class="equipment_select_title">
                                    <h2 class="level7 green1">搜尋設備</h2>
                                </div>
                                <div class="post_btn">
                                    <a href="./equipment_post.html">
                                        <button class="secondbtn1">我要刊登商品</button>
                                    </a>
                                </div>
                            </div>
                            <!-- <hr> -->

                            <!-- 左邊側邊攔 -->
                            <equlista class="equlist_block"></equlista>
                            
                        </div>    
                    </div>
                    
                    <!-- 右邊全部設備 -->
                    <div class="equmain_all" id="equallprod">
                        <equamainall></equamainall>
                    </div>
                    
                        
                </div>   
                
                
            </div>
        </section>
        
        </div> 

    <!-- footer 開始-->
    @@include('./layout/footer.html')
    <!-- footer 結束-->
    </div>
    <script src="./js/logintext.js"></script>
    <script>
        Vue.component('equlista',{
            data(){
                return{
                    tents:['家庭帳','客廳帳','炊事帳'],
                    sbags: ['睡袋'],       
                    others: ['桌椅','炊具','小物'],
                };
            },
            created(){
                axios.get('php/equipment/equipment.php')
                        .then(res => {this.allRows = res.data;})
                        .catch(error => console.log(error))
                        // .then(data => console.log(this.allRows));
                // $.ajax({
                //     url:'php/equipment/equipment.php',
                //     dataType:'json',
                //     data:{
                //         tent:3,
                //     },
                //     complete(){
                //     }
                // });
            },
            template:`
            <div>
                <div class="equlist">
                    <h3><a class="level2 green1" href="">所有商品</a></h3>
                </div>        
                <form class="equlist" action="./php/equipment/equipment.php" method="GET">                   
                    <h3 class="level2 green1">露營帳篷</h3>
                    <div v-for="tent in tents"><a class="level2 gray1 minsorts" name="tent" value=2 href="" @click="">{{tent}}</a></div>    
                </form>
                <hr>        
                <form class="equlist" action="./php/equipment/equipment.php" method="GET">                   
                    <h3 class="level2 green1">睡袋</h3>
                    <div v-for="sbag in sbags"><a class="level2 gray1 minsorts" href="">{{sbag}}</a></div>    
                </form>  
                <hr>      
                <form class="equlist" action="./php/equipment/equipment.php" method="GET">                   
                    <h3 class="level2 green1">其他</h3>
                    <div v-for="other in others"><a class="level2 gray1 minsorts" href="">{{other}}</a></div>    
                </form>
            </div>
            `,
        });

        Vue.component('equamainall',{
            data(){
                return{
                    allRows: [],
                    allRows2: [],
                    indexpage:9,
                    indexpagefirst:0,
                    image:'pic/equipment/'
                
                };
            },
            created(){
                axios.get('php/equipment/equipment.php')
                        .then(res => {
                            this.changepage(res.data)
                        })
                        .catch(error => console.log(error))

            
                        // .then(data => console.log(this.allRows));

            
            
                // this.allRows=this.allRows2;
                // console.log( this.allRows);
                
                // $.ajax({
                //     url:'php/equipment/equipment.php',
                //     type:'GET',
                //     dataType:'json',
                //     data:{
                //         tent:tent,
                //     },
                //     complete(data){
                //         this.allRows = data.responseJSON;
                //         console.log(data.responseJSON)
                //     }
                // });
            },
            template:`
            <div  class="equtemp">
                <div class="equ_card1" v-for="(card,index) in allRows2" :key="index">
                    <a href="./equipment_product.html">
                        <div class="equ_img1">
                            <img :src="image + allRows2[index].EQU_PIC1" alt="">
                        </div>            
                    </a>
                    <div class="equ_text">
                        <a href="./equipment_product.html">
                            <div class="bold level5 green1 equ_all_title">{{card.EQU_NAME}}</div>
                        </a>
                        <span class="level1 gray1">刊登者：</span>
                        <a class="bold level1 gray1 poster_text" href="">{{card.MEM_NICKNAME}}</a>
                    </div>
                </div>
                <div class="equsPage">
                    <ul class="level0 green3 page">
                        <li>&lt;</li>
                        <li class="thisPage">1</li>
                        <li><p  @click="page1" class="level0 green3">2</p></li>
                        <li><p  @click="page1" class="level0 green3">3</p></li>
                        <li><p  @click="page1" class="level0 green3">4</p></li>
                        <li><p  @click="page1" class="level0 green3">5</p></li>
                        <li><p  @click="page1" class="level0 green3">&gt;</p></li>
                    </ul>
                </div>
            </div>
            
            `,
            methods:{
                changepage(data){
                    this.allRows = data;
                    console.log(this.allRows)
                    for(var i =this.indexpagefirst; i < this.indexpage; i++){
                        this.allRows2.push(this.allRows[i]);
                    }                
                },

                page1: function(e){
                    console.log(this.allRows);


                }

            

            }
        });

        let vm = new Vue({
            el: '#equipment',
            data: {  
            },
            methods: {
                
            },
            computed: {
            },
        });
    </script>
    <script>
        // hamburger icon 的切換
        $(function(){
            
            $("button.hamburger").on("click", function(){
                $(this).toggleClass("is-active");
                $('.nav_list').slideToggle();

                });
        });


            // let equipmentRows;
            // window.addEventListener("load", function(){
            
            //     function showEquipment(){
            //         let html = "";
            //         for(let i=0; i< equipmentRows.length; i++){
            //             html += ``;
            //         }
            //         html += "";
            //         document.getElementById("equallprod").innerHTML = html;
            //     }
            
            //     let xhr = new XMLHttpRequest();
            //     xhr.onload = function(){
            //         equipmentRows = JSON.parse(xhr.responseText);
            //         showEquipment();
            //         console.log(equipmentRows);
            //     }
            //     xhr.open("get", "php/equipment/equipment.php",true);
            //     xhr.send(null);

            
            //     document.getElementById("equ_sort1").onchange = function(e){
            //         let xhr = new XMLHttpRequest();
            //         xhr.onload = function(){
            //             equipmentRows = JSON.parse(xhr.responseText);
            //             showEquipment();
            //             console.log(equipmentRows);
            //         }
            //         xhr.open("get", `php/equipment/equipment.php?equ_sort1=${e.target.value}`,false);
            //         xhr.send(null);
            //     }
            // }, false);


    </script>


</body>
</html>