<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員專區</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.css" />
    <script src="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script> 
    <!-- <script src="./vender/vue.min.js"></script> -->
    <script src="./vender/jquery/jquery-3.5.1.min.js"></script>
    <script src="./js/main.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./pic/commom/browser.ico">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <!--header開始-->
    @@include('./layout/header.html', { "underline_06": "orange2" })
     <!--header結束-->
    
    <!--內容開始-->
    <div class="bgcColor member_page">
        <section class="section1 bgcColor member_section">
            <div class="wrap wrap_block" >
                <div class="title">

                    <div id="app" class="app_anyway"> <!--HTML DOM template-->

                        <div class="app_left_aside">
                            
                            <div class="level5 grayColor1 aside_subtitle">會員小屋</div>

                            <div class="buttonClassification">
                                <img class="imgSize" src="./pic/member/avatar.png">
                                <button class="thirdbtn1_green" @click="content='memberInformation'">會員資訊</button>
                            </div>
                            <div class="buttonClassification">
                                <img class="imgSize" src="./pic/member/message.png">
                                <button class="thirdbtn2_green" @click="content='memberMessage'">悄悄話</button>    
                            </div>
                            <div class="level5 grayColor1 aside_subtitle">會員足跡</div>
                            <div class="buttonClassification">
                                <img class="imgSize" src="./pic/member/group.png">
                                <button class="thirdbtn2_green" @click="content='memberGroup'">揪團露營</button>
                            </div>
                            <div class="buttonClassification">
                                <img class="imgSize"src="./pic/member/change.png">
                                <button class="thirdbtn2_green" @click="content='memberEquipment'">設備交換</button>
                            </div>
                            <div class="buttonClassification">
                                <img class="imgSize" src="./pic/member/campsite.png">
                                <button class="thirdbtn2_green" @click="content='memberCamp'">營區攻略</button>
                            </div>
                        </div>
                        <div class="app_left_aside_selector" @change="onChange($event)">
                            <select name="memberSelector" id="memberSelector" >
                                <OPTGROUP label="會員小屋">
                                    <option value="memberInformation">會員資訊</option>
                                    <option value="memberMessage">悄悄話</option>
                                </OPTGROUP>
                                <OPTGROUP label="會員足跡">
                                    <option value="memberGroup">揪團露營</option>
                                    <option value="memberEquipment">設備交換</option>
                                    <option value="memberCamp" >營區攻略</option>
                                </OPTGROUP>
                            </select>
                        </div>
                        <!--自己的第一區塊以上-->
                    
                        <div class="app_right_aside">
                    
                            <!--Vue開始-->
                        
                            <component :is="content"></component>
                            <!-- 透過component元素，去指定其屬性is進行v-bind -->

                        </div>
                    </div> <!--app尾-->
                </div>
            </div>
        </section>
    </div>
   

    <!-- footer 開始-->
    @@include('./layout/footer.html')
    <!-- footer 結束-->
<!--內容結束-->
    
    <script>
        Vue.component('memberInformation', { 
            template: `
            <div class="member_information">
                    
                <div class="member_information_title level5">
                    <!-- 會員資訊標題 -->
                    <img class="memberTitle_img" src="./pic/member/avatar.png">
                    會員資訊
                </div>
            
                <div class="member_information_detail">

                    <!-- 會員資訊圖片 -->
                    <div class="member_image">
                        <img src="./pic/member/member_01.png">
                        <div class="level0 member_imageButton">
                            <button class="tagbtn_green">編輯大頭像</button>
                            <div>*限定格式png、jpg</div>
                        </div>
                    </div>

                    <!-- 會員資訊內容 -->
                    <div class="member_information_main"> 
                        <div class="level2">編號<span class="gray1">00000000001</span></div>
                        <div class="level2">等級<span class="gray1">鑽石會員(目前累積分數共825分)</span></div>
                        <div class="level2">帳號<span class="gray1">iamwang12345@gmail.com</span></div>
                        <div class="level2">密碼<span class="gray1">*************</span></div>
                        <div class="level2">姓名<span class="gray1">王大槌</span></div>
                        <div class="level2">暱稱<span class="gray1">槌槌</span></div>

                        <div class="edit_block">
                            <button class="tagbtn_green">編輯</button>
                        </div>
                    </div>
                </div>
            
                </div>
                    
            </div>
            
            `,
        });
        Vue.component('memberMessage', { 
            template: `
            <div class="member_message">
                    
                    <div class="member_information_title level5">
                        <!-- 悄悄話標題 -->
                        <img class="memberTitle_img" src="./pic/member/message.png">
                        悄悄話
                    </div>

                    <div class="member_message_alldetail">
                         
                        <!--大頭像及訊息-->
                        <div class="member_message_detail">
                            <img src="./pic/member/member_01.png">
                                <div class="big_message">
                                    <span class="gray1 level2">王大槌: 哈囉! 想跟您交換露營帳篷! 何時方便面交呢?</span>
                                </div>
                         
                            <!--查看回覆刪除按鈕-->
                            <div class="message_edit_block"> 
                                <div class="one_button">
                                    <button class="thirdbtn1_green">查看</button>
                                </div>
                                <div class="two_button">
                                    <button class="thirdbtn1_green">回覆</button>
                                </div>
                                <div class="three_button">
                                    <button class="thirdbtn1_green">刪除</button>
                                </div>
                            </div>
                        </div>

                        <div class="member_message_detail">
                            <img src="./pic/member/member_02.png">
                                <div class="big_message">
                                    <span class="gray1 level2">郭小美: 哈囉! 想跟您交換露營帳篷! 何時方便面交呢?</span>
                                </div>
                         
                            <!--查看回覆刪除按鈕-->
                            <div class="message_edit_block"> 
                                <div class="one_button">
                                    <button class="thirdbtn1_green">查看</button>
                                </div>
                                <div class="two_button">
                                    <button class="thirdbtn1_green">回覆</button>
                                </div>
                                <div class="three_button">
                                    <button class="thirdbtn1_green">刪除</button>
                                </div>
                            </div>
                        </div>  
                  
                        
                        <div class="member_message_detail">
                                <img src="./pic/member/member_03.jpg">
                                    <div class="big_message">
                                        <span class="gray1 level2">陳先生: 哈囉! 想跟您交換露營帳篷! 何時方便面交呢?</span>
                                    </div>
                            <!--查看回覆刪除按鈕-->
                            <div class="message_edit_block"> 
                                <div class="one_button">
                                    <button class="thirdbtn1_green">查看</button>
                                </div>
                                <div class="two_button">
                                    <button class="thirdbtn1_green">回覆</button>
                                </div>
                                <div class="three_button">
                                    <button class="thirdbtn1_green">刪除</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            `,
        });
        Vue.component('memberGroup', {
            data(){
                return{
                    link : "startGroup",
                    page1style: "mem_page1",
                    page2style: "mem_page2",
                    setup_groups:'[]',
                    join_groups:'[]',
                    img_path: './pic/group/',
                    page_qua: 2,
                }
            },
            methods:{
                page1(){
                    this.link = 'startGroup'
                    this.page1style= "mem_page1",
                    this.page2style= "mem_page2"

                },
                page2(){
                    this.link = 'joingroup'
                    this.page1style= "mem_page2",
                    this.page2style= "mem_page1"
                },
                // 刪除開團
                deleteGroup(g){
                    let question = confirm('是否確認刪除？');
                    if(question){
                        axios.post('php/member/delete_setupGroup.php', g).then(res => {
                             this.getGroup();
                        })
                    }
                },
                getGroup(){
                    axios.get('php/member/setupGroup.php').then(res => {
                    this.setup_groups = res.data;
                })
                },
                // 刪除參團
                exitGroup(j){
                    let question = confirm('是否確認退出？');
                    if(question){
                        axios.post('php/member/delete_joinGroup.php', j)
                        .then(res => {
                             this.getjoinGroup();
                        })
                    }
                },
                getjoinGroup(){
                    let url = 'php/member/joinGroup.php';
                    axios.get(url).then(res => {
                    this.join_groups = res.data;
                })
                },
            },
            created(){
                axios.get('php/member/setupGroup.php').then(res => {
                    this.setup_groups = res.data;
                }),
                axios.get('php/member/joinGroup.php').then(res => {
                    this.join_groups = res.data;
                    console.log(res.data);
                })
            },
            template: `
                <div id="member_Group">
                    <div class="member_information_title sub_title">
                        <!-- 揪團露營標題 -->
                        <img class="memberTitle_img" src="./pic/member/group.png">
                        揪團露營
                    </div>
                    <div class="member_Group_detail">
                        <div class="group_button">
                            <button :class="page1style" @click="page1">開團管理</button>
                            <button :class="page2style" @click="page2">參團管理</button>
                        </div>
                        <!-- 揪團露營主要切換面 -->
                        <div>
                            <div class="startGroupManage_page" v-if="link == 'startGroup'">
                                <ul>
                                    <li class="group_everyRow" v-for="group in setup_groups" v-if="group.status==='0'">
                                        <img :src="img_path + group.GROUP_PIC1">
                                        <ul>
                                            <li id="noShow_group">1.團名：{{group.GROUP_NO}}</li>
                                            <li class="level0">1.團名：{{group.GROUP_NAME}}</li>
                                            <li class="level0">2.日期：{{group.group_Date}}</li>
                                            <li class="level0">3.地點：{{group.CAM_NAME}}</li>
                                            <li class="level0">4.參加人數：{{group.GROUP_PEOPLE_SIGNUP}}</li>
                                            <li class="level0">5.活動內容：{{group.GROUP_INTRO}}</li>
                                        </ul>
                                        <button class="thirdbtn1_orange" @click="deleteGroup(group)">刪除</button>
                                    </li>
                                    <li class="group_everyRow unlockRow" v-for="group in setup_groups" v-if="group.status==='1'">
                                        <img :src="img_path + group.GROUP_PIC1">
                                        <ul>
                                            <li id="noShow_group">1.團名：{{group.GROUP_NO}}</li>
                                            <li class="level0">1.團名：{{group.GROUP_NAME}}</li>
                                            <li class="level0">2.日期：{{group.group_Date}}</li>
                                            <li class="level0">3.地點：{{group.CAM_NAME}}</li>
                                            <li class="level0">4.參加人數：{{group.GROUP_PEOPLE_SIGNUP}}</li>
                                            <li class="level0">5.活動內容：{{group.GROUP_INTRO}}</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="joinGroupManage_page"  v-else-if="link == 'joingroup'">
                                <ul>
                                    <li class="group_everyRow" v-for="group in join_groups" v-if="group.status==='0'">
                                        <img :src="img_path + group.GROUP_PIC1">
                                        <ul>
                                            <li id="noShow_group">1.團名：{{group.GROUP_NO}}</li>
                                            <li class="level0">1.團名：{{group.GROUP_NAME}}</li>
                                            <li class="level0">2.日期：{{group.group_Date}}</li>
                                            <li class="level0">3.地點：{{group.CAM_NAME}}</li>
                                            <li class="level0">4.參加人數：{{group.G_DATEIL_PARTNUM}}</li>
                                            <li class="level0">5.活動內容：{{group.GROUP_INTRO}}</li>
                                        </ul>
                                        <button class="thirdbtn1_orange" @click="exitGroup(group)">刪除</button>
                                    </li>
                                    <li class="group_everyRow unlockRow" v-for="group in join_groups" v-if="group.status==='1'">
                                        <img :src="img_path + group.GROUP_PIC1">
                                        <ul>
                                            <li id="noShow_group">1.團名：{{group.GROUP_NO}}</li>
                                            <li class="level0">1.團名：{{group.GROUP_NAME}}</li>
                                            <li class="level0">2.日期：{{group.group_Date}}</li>
                                            <li class="level0">3.地點：{{group.CAM_NAME}}</li>
                                            <li class="level0">4.參加人數：{{group.G_DATEIL_PARTNUM}}</li>
                                            <li class="level0">5.活動內容：{{group.GROUP_INTRO}}</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            `,
        });
        Vue.component('memberEquipment', { 
            data(){
                return{
                    link : "publication",
                    page1style: "secondbtn1",
                    page2style: "secondbtn2",
                    page3style: "secondbtn2"
                }
            },
            methods:{
                page1(){
                    this.link = 'publication'
                    this.page1style= "secondbtn1",
                    this.page2style= "secondbtn2",
                    this.page3style= "secondbtn2"

                },
                page2(){
                    this.link = 'exchange'
                    this.page1style= "secondbtn2",
                    this.page2style= "secondbtn1",
                    this.page3style= "secondbtn2"
                },
                page3(){
                    this.link = 'favorites'
                    this.page1style= "secondbtn2",
                    this.page2style= "secondbtn2"
                    this.page3style= "secondbtn1"
                }
            },
            template: `
            <div class="member_Equipment">
                    
                    <div class="member_information_title sub_title">
                        <!-- 交換設備標題 -->
                        <img class="memberTitle_img" src="./pic/member/change.png">
                        設備交換
                    </div>
                    
                    <div class="member_Equipment_detail">
                        <div class="group_button">
                            <button :class="page1style" @click="page1">刊登紀錄</button>
                            <button :class="page2style" @click="page2">交換紀錄</button>
                            <button :class="page3style" @click="page3">收藏</button>
                        </div>
                        <!-- 交換設備主要切換面 -->
                        <div>
                            <div class="Equipment_record_page" v-if="link == 'publication'">
                                <ul class="Equipment_record">
                                    <li>
                                        <div class="level1">設備編號</div>
                                        <div class="level1">設備照片</div>
                                        <div class="level1">設備名稱</div>
                                        <div class="level1">目前狀態</div>
                                    </li>
                                    <li>
                                        <div class="level1">001</div>
                                        <img src="./pic/member/member_group.jpg" alt="">
                                        <div class="level1">高階多功能機能包 — 登山背包 D00566</div>
                                        <span class="level2">進行中</span>
                                    </li>
                                    <li>
                                        <div class="level1">002</div>
                                        <img src="./pic/member/member_group.jpg" alt="">
                                        <div class="level1">高階多功能機能包 — 登山背包 D00566</div>
                                        <span class="level2">進行中</span>
                                    </li>
                                    <li class="lookEquipment">
                                        <div class="level1">002</div>
                                        <img src="./pic/member/member_group.jpg" alt="">
                                        <div class="level1">高階多功能機能包 — 登山背包 D00566</div>
                                        <span class="level2">已結束</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="exchange_record_page" v-if="link == 'exchange'">
                                <ul class="exchange_record">
                                    <li>
                                        <div class="level1">設備編號</div>
                                        <div class="level1">設備照片</div>
                                        <div class="level1">設備名稱</div>
                                        <div class="level1">目前狀態</div>
                                    </li>
                                    <li>
                                        <div class="level1">001</div>
                                        <img src="./pic/member/member_group.jpg" alt="">
                                        <div class="level1">高階多功能機能包 — 登山背包 D00566</div>
                                        <span class="level2">進行中</span>
                                    </li>
                                    <li>
                                        <div class="level1">002</div>
                                        <img src="./pic/member/member_group.jpg" alt="">
                                        <div class="level1">高階多功能機能包 — 登山背包 D00566</div>
                                        <span class="level2">進行中</span>
                                    </li>
                                    <li class="lookexchange">
                                        <div class="level1">002</div>
                                        <img src="./pic/member/member_group.jpg" alt="">
                                        <div class="level1">高階多功能機能包 — 登山背包 D00566</div>
                                        <span class="level2">已結束</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="favorites_recode_page" v-if="link == 'favorites'">
                                <ul class="favorites_record">
                                    <li>
                                        <div class="level1">設備編號</div>
                                        <div class="level1">設備照片</div>
                                        <div class="level1">設備名稱</div>
                                        <div class="level1">目前狀態</div>
                                    </li>
                                    <li>
                                        <div class="level1">001</div>
                                        <img src="./pic/member/member_group.jpg" alt="">
                                        <div class="level1">高階多功能機能包 — 登山背包 D00566</div>
                                        <span class="level2">進行中</span>
                                    </li>
                                    <li>
                                        <div class="level1">002</div>
                                        <img src="./pic/member/member_group.jpg" alt="">
                                        <div class="level1">高階多功能機能包 — 登山背包 D00566</div>
                                        <span class="level2">進行中</span>
                                    </li>
                                    <li class="lookfavorites">
                                        <div class="level1">002</div>
                                        <img src="./pic/member/member_group.jpg" alt="">
                                        <div class="level1">高階多功能機能包 — 登山背包 D00566</div>
                                        <span class="level2">已結束</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                `,
        });
        Vue.component('memberCamp', { 
            template: `
            <div class="member_Camp">
                    
                    <div class="member_information_title sub_title">
                        <!-- 揪團露營標題 -->
                        <img class="memberTitle_img" src="./pic/member/campsite.png">
                        露營攻略
                    </div>
                    
                    <div class="member_Camp_detail">
                        <div>
                            <ul class="camptotal_page">
                                <li class="campItem">
                                    <span><img src="./pic/member/cancel.png"></span>
                                    <img src="./pic/member/member_group.jpg">
                                    <div class="level1">尖石寧靜的私房營地，獨享雲霧繚繞的夢幻感受。7Mx8M大帳篷，四周高聳的山嵐環繞，營主用心植栽的樹林花卉</div>
                                </li>
                                <li class="campItem">
                                    <span><img src="./pic/member/cancel.png"></span>
                                    <img src="./pic/member/member_group.jpg">
                                    <div class="level1">尖石寧靜的私房營地，獨享雲霧繚繞的夢幻感受。7Mx8M大帳篷，四周高聳的山嵐環繞，營主用心植栽的樹林花卉</div>
                                </li>
                                <li class="campItem">
                                    <span><img src="./pic/member/cancel.png"></span>
                                    <img src="./pic/member/member_group.jpg">
                                    <div class="level1">尖石寧靜的私房營地，獨享雲霧繚繞的夢幻感受。7Mx8M大帳篷，四周高聳的山嵐環繞，營主用心植栽的樹林花卉</div>
                                </li>
                                <li class="campItem">
                                    <span><img src="./pic/member/cancel.png"></span>
                                    <img src="./pic/member/member_group.jpg">
                                    <div class="level1">尖石寧靜的私房營地，獨享雲霧繚繞的夢幻感受。7Mx8M大帳篷，四周高聳的山嵐環繞，營主用心植栽的樹林花卉</div>
                                </li>
                                <li class="campItem">
                                    <span><img src="./pic/member/cancel.png"></span>
                                    <img src="./pic/member/member_group.jpg">
                                    <div class="level1">尖石寧靜的私房營地，獨享雲霧繚繞的夢幻感受。7Mx8M大帳篷，四周高聳的山嵐環繞，營主用心植栽的樹林花卉</div>
                                </li>
                                <li class="campItem">
                                    <span><img src="./pic/member/cancel.png"></span>
                                    <img src="./pic/member/member_group.jpg">
                                    <div class="level1">尖石寧靜的私房營地，獨享雲霧繚繞的夢幻感受。7Mx8M大帳篷，四周高聳的山嵐環繞，營主用心植栽的樹林花卉</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            `,
        });

        new Vue({
            el: '#app',
            data: {
                content: 'memberGroup',
                now_page: 'thirdbtn1_green',
                other_page: 'thirdbtn2_green',
            },
            methods:{
                onChange(event){
                    this.content = event.target.value;
                }
            },
        });

    </script>
    <script src="./js/member.js"></script>
</body>
</html>